.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 100px;

}

nav a {   
    text-decoration: none;
    color: #139443;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 35px;
    text-shadow: #238c74 1px 1px 2px;   
}

header {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;  
    background: linear-gradient(to right, black, #09470b);
} 


html {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, black, #09470b);
    font-family: 'Courier New', Courier, monospace;

}

header h1 {
    font-size: 70px;
    color: #238c74;   
    text-shadow: #238c74 1px 1px 2px;   
    text-align: center; 
    margin: 0;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-underline-offset: 5px;
}

footer {
    padding: 50px 50px 20px;
    align-items: center;
    margin-top: 40px;
    color: white;
    margin: 60px;
}

footer p {
    font-size: 30px;
    color: #238c74;
    text-shadow: #238c74 1px 1px 2px;   

}

.button {
        position: fixed;
        top:80%;
        right: 7px;
}

.button img {
    width: 65px;
    height: 65px;
}
.rulese {
    font-size: 45px;
    text-align: left;
    padding: 20px; 
    color:rgb(228, 221, 123);
    background-image: url(https://i.postimg.cc/QxnMS6dL/generated-image-1.jpg);
    width: 65%;
    height: 71%;  
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 350px;
    margin-top: 90px;
    text-align: center;
    border: 1px solid #238c74;
    border-radius: 20px;
    
    
}
.rules {
    opacity: 0;
}
.rules::before {
    opacity: 0;
    border: solid 3px #238c74;


}
.rules::after   {
    opacity: 0;



}

.rules:hover {
    opacity: 1;
    border: solid 3px #238c74;
    border-radius: 19px;
    color: aliceblue;
    font-size: 25px;
    float: left;
    height: 35%;
    width: 50%;
    margin-left: 40px;
    text-align: left;
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);

}

.rules2 {
    text-align: left;
    padding: 20px;
    color:rgb(228, 221, 123);
    font-size:45px;
    margin-left: 350px;


}

.rules p {
    margin: 12px;
    text-shadow:  #238c74 1px  1px 2px;

}

body {
    cursor: url('https://cur.cursors-4u.net/others/oth-7/oth684.cur'), auto;
}